@charset "UTF-8";

body {
    display: block;
}

/*Header rules*/

header {
	display: block;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-linear-gradient(top, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
    ),
    -webkit-linear-gradient(left, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
    ), url(../../img/background.jpg);
}

header > div {
    display: flex;
    align-items: center;
    gap: 32px;
}

#text-header { 
    font-size: 16px; 
    text-decoration: none;
    color: white;
    font-weight: 700;
} 

/*Profile info section*/

#main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
    text-align: center;
    position: relative;
    top: -29%;
    margin-bottom: -14em;
}

#main div {
    border-radius: 20px;
    font-size: 16px;
    padding: 12px;
    background-color: white;
}

#profile-info {
    flex-grow: 1;
}

#profile-info img { 
    width: 10em;
    aspect-ratio: 1/1;
    border-radius: 20px;
    border: solid 1px #888888;
    background-color: #EFEDEA;
    margin-top: -8%;
}

h1 {
    font-size: 30px;
}

#profile-info div {
    font-weight: 600;
}

/*Orders*/

h4 {
	text-align: center;
	font-style: italic;
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

span.order-info {
	font-weight: bolder;
}