@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(../../img/delete-background.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
}

.delete-background {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.delete-form {
    width: 90%;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;  
    border-radius: 6px;
    box-shadow: 0px 1px 10px #888888;
}

.delete-form img { 
    width: 10em;
    aspect-ratio: 1/1;
    border-radius: 20px;
    border: solid 1px #888888;
    background-color: #EFEDEA;
    margin-top: -8%;
}

h1 {
    color: red;
}

div {
    text-align: center;
}

input[type=submit] {
    background-color: #fb6101;
    color: white;
    border-style: none;
    border-radius: 30px;
    padding: 15px 55px;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #c04a00;
    cursor: pointer;
}